Source: wf-shell
Section: x11
Priority: optional
Maintainer: rewine <lhongxu@outlook.com>
Build-Depends: debhelper-compat (= 13),
               libwf-config-dev,
               wayfire-dev,
               libwlroots-dev (>= 0.16),
               libwayland-dev,
               libgtkmm-3.0-dev,
               meson,
               cmake,
               pkg-config,
Standards-Version: 4.6.0
Homepage: https://wayfire.org/
#Vcs-Browser: https://salsa.debian.org/debian/wf-shell
#Vcs-Git: https://salsa.debian.org/debian/wf-shell.git
Rules-Requires-Root: no

Package: wf-shell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTK3-based panel for the Wayfire compositor
    wf-shell is a repository which contains the various components needed to built
 a fully functional DE based around wayfire. Currently it has only a GTK-based panel
 and background client.
